{% extends "notification/base.html" %}

{% block title %}Password Reset{% endblock %}

{% block body %}
<p>Dear <b>{{ full_name }}</b>,</p>

<p>
  Reset your password by using the link below:
</p>

<p>
  Password reset link: <a href="{{ portal_url }}/password-reset/{{ uid }}/{{ token }}" class="link">
    <b>here</b>
  </a>.
</p>

<p>SLU Admin</p>

<p>
  <i>
    <small>
      Disclaimer: This email and its attachments may be confidential and are intended solely for the
      addressee/s. If you are not an intended addressee, please notify the sender and delete this
      email immediately without printing, forwarding, or showing the contents to anyone. The views
      expressed in this email are those of the individual sender, and are not necessarily the views
      of Saint Louis University, Inc.
    </small>
  </i>
</p>
{% endblock %}
